In [1]:
%load_ext autoreload
%autoreload 2

In [7]:
from skorecard import datasets
import math

In [3]:
X, y = datasets.load_uci_credit_card(return_X_y=True)

In [4]:
X.head(1)

   EDUCATION  MARRIAGE  LIMIT_BAL  BILL_AMT1
0          1         2   400000.0   201800.0

In [64]:
from skorecard.apps import ManualBucketerApp
app = ManualBucketerApp(X, y, features_bucket_mapping={})
app.run_server(mode="external")

Dash app running on http://127.0.0.1:8050/

In [5]:
def get_boundaries(df, col, n_bins=10):
    col_min = math.floor(X['LIMIT_BAL'].min())
    col_max = math.ceil(X['LIMIT_BAL'].max())
    col_range = col_max - col_min
    step = math.floor(col_range / n_bins)
    return list(range(col_min, col_max + step, step))

In [8]:
bins_10 = get_boundaries(X, 'LIMIT_BAL', n_bins=10)

[10000,
 85000,
 160000,
 235000,
 310000,
 385000,
 460000,
 535000,
 610000,
 685000,
 760000]

In [ ]:
X['LIMIT_BAL']